@charset "utf-8";
/* CSS Document */
@-ms-viewport{width:device-width}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
html,body,div,p,span,a,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,form,input,select,textarea,button,label,fieldset,table,tr,td,th,tbody,thead,tfoot,caption,video,strong,em,i,b{margin:0;padding:0; word-break:keep-all; font-family:inherit; font-size:inherit;}
ul,ol,li{list-style:none}
img { border:none; max-width:100%}
em,i{ font-style:normal}
table{ border-collapse:collapse; border-spacing:0;}
span, strong, a, em, i, b, input, button, textarea, select{ font-size:inherit; font-family:inherit; vertical-align:middle}
input[type=button], input[type=submit], button{ cursor:pointer}
select{ border:1px solid #ccc; appearance:none;-webkit-appearance:none; padding:0 35px 0 10px; background:url(../images/inc/select_arrow.png) no-repeat right center #fff; max-width:100%}
select.st1{ border:1px solid #ccc;appearance:none;-webkit-appearance:none;padding: 0.5em 35px 0.5em 10px;background:url(../images/inc/select_arrow.png) no-repeat right center #fff;max-width:100%;text-align: center; color:#666; font-size:0.938em}
select.st2{ border:1px solid #ccc;appearance:none;-webkit-appearance:none;padding:0.5em 3em 0.5em 10px;background:url(../images/inc/select_arrow.png) no-repeat right center #fff;max-width:100%; width:100%; text-align: center;color:#666;font-size:0.938em;}
select::-ms-expand{display:none;}
input[type=text], input[type=button], input[type=submit], input[type=tel], input[type=file], button, label, textarea{ appearance:none;-webkit-appearance:none; -webkit-border-radius:0}
a, input, button, textarea, select, li{ -webkit-tap-highlight-color:transparent}
a:focus, input:focus, button:focus, textarea:focus, select:focus{ outline:none}

a:link{color:#333;text-decoration:none}
a:visited{color:#333;}
a:active{color:#333;}
a:hover{color:#333;text-decoration:none}

html{overflow-x:hidden}
body{font-family:notokrB,notokrR,notokrM,notokrL,sans-serif; line-height:1.2; letter-spacing:-.5px}

/*inc*/

.al{ text-align: left !important;}
.ac{ text-align: center !important;}
.ar{ text-align: right !important;}

.vt{ vertical-align:top !important;}
.vm{ vertical-align:middle !important;}
.vb{ vertical-align:bottom !important;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.cl{ clear:both !important; display:block}
.oh{ overflow:hidden !important;}

.pr{ position:relative; z-index:inherit}
.pa{ position:absolute; z-index:inherit}
.pa100{ position:absolute; z-index:inherit; left:0; top:0; width:100%; height:100%}

.di{display:inline-block; *display:inline; zoom:1;}
.db{ display:block !important;}
.dn{ display:none !important;}

.di_wrap{font-size:0}
.di_wrap > li{display:inline-block; *display:inline; zoom:1; vertical-align:top; font-size:16px; font-size:1rem;}
.di_wrap > li > a,
.di_wrap > li > .in{ display:block}

.fl_wrap > li{ float:left}
.fl_wrap > li > a,
.fl_wrap > li > .in{ display:block}
.fl_wrap:after{ content:""; display:block; clear:both}



.con_idx{ position:relative}
.con_idx > .idx{ position:absolute; left:0; top:0; width:100%; visibility:hidden;filter:alpha(opacity=0);opacity:0;}
.con_idx > .idx.on{ position:relative; visibility: visible; filter:alpha(opacity=100);opacity:1;}



.line_ani,
.line_ani_wrap{ position:relative; z-index:inherit}
.line_ani .line{ position:absolute; background:#111; width:0; height:0}
.line_ani .line.lineT{ left:0; top:-1px; transition:width 0.3s;}
.line_ani .line.lineR{ right:-1px; top:0; transition:height 0.3s;}
.line_ani .line.lineB{ right:0; bottom:-1px; transition:width 0.3s;}
.line_ani .line.lineL{ left:-1px; bottom:0; transition:height 0.3s;}
.line_ani:hover .line.lineT,
.line_ani:hover .line.lineB{ width:100%; height:3px}
.line_ani:hover .line.lineR,
.line_ani:hover .line.lineL{ width:3px; height:100%}



.c_black{ color:#000 !important;}
.c_gray{ color:#777 !important;}
.c_blue{ color:#2a5caa !important;}
.c_red{ color:#b91515 !important;}
.c_point{ color:#2560c2 !important}

/*팝업*/
.layer_wrap{ position:fixed; left:0; top:0; width:100%; height:100%; visibility:hidden; z-index:1000}
.layer_wrap .layer_bg{position:absolute; z-index:9999; width:100%; height:100%; left:0; top:0; background:#000; opacity:0; transition:.5s}
.layer_wrap .layer_frame{ position:absolute; z-index:10000; left:0; top:0; margin-top:90%; width:100%; height:100%; transition:.5s}

.layer_wrap.on{ visibility:visible}
.layer_wrap.on .layer_bg{ opacity:.5}
.layer_wrap.on .layer_frame{ margin-top:0}

body.pop{background:transparent}
body.pop .popWrap{ position:absolute; left:2%; top:2%; width:96%; height:96%; text-align:center; white-space:nowrap}
body.pop .popWrap:before{ content: ""; display: inline-block; width: 0; height: 100%; margin-right: -4px; vertical-align: middle}
body.pop .popWrap .popIn{ display: inline-block; vertical-align: middle; background:#fff; border-radius:0 0 5px 5px; box-shadow:1px 1px 10px #333; position:relative; text-align:left; white-space:normal;max-height:100%; max-width:100%;}
body.pop .popWrap .popIn:before{ content: attr(data-tit); position:absolute; left:0; top:0; width:100%; z-index:1; color:#fff; display:block; left:0; top:0; padding:.7em 4em .7em 1em; font-weight:700; font-size:1.25em; letter-spacing:-1px; 
background:#003e87; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; box-sizing:border-box}
body.pop .popWrap .popIn .popCon{ padding:4.5em 1.25em 2em 1.25em; min-width:250px}
body.pop .popWrap .popIn .popClose{position:absolute; z-index:10000; right:0; top:0; width:1.75em; padding:.3em 0; color:#fff; text-align:center;font-size:2rem; opacity:.8}
body.pop .popWrap .popIn .popClose:hover{ opacity:1}

.popCon .agree_wrap{ padding:.5em; font-size:.875em; line-height:1.5; font-family:'notokrR'}

.popCon .pop_tel_tx{ font-size:0.938em; color:#666; margin: 1em 0; font-family:'notokrR';}


/**/
.mt0{ margin-top:0 !important;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt20{ margin-top:20px !important;}
.mt25{ margin-top:25px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}

.mb0{ margin-bottom:0 !important;}
.mb5{ margin-bottom:5px !important;}
.mb10{ margin-bottom:10px !important;}
.mb15{ margin-bottom:15px !important;}
.mb20{ margin-bottom:20px !important;}
.mb25{ margin-bottom:25px !important;}
.mb30{ margin-bottom:30px !important;}
.mb40{ margin-bottom:40px !important;}
.mb50{ margin-bottom:50px !important;}

.ml0{ margin-left:0 !important;}
.ml5{ margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml15{ margin-left:15px !important;}
.ml20{ margin-left:20px !important;}
.ml25{ margin-left:25px !important;}
.ml30{ margin-left:30px !important;}
.ml40{ margin-left:40px !important;}
.ml50{ margin-left:50px !important;}

.mr0{ margin-right:0 !important;}
.mr5{ margin-right:5px !important;}
.mr10{ margin-right:10px !important;}
.mr15{ margin-right:15px !important;}
.mr20{ margin-right:20px !important;}
.mr25{ margin-right:25px !important;}
.mr30{ margin-right:30px !important;}
.mr40{ margin-right:40px !important;}
.mr50{ margin-right:50px !important;}

.fs15{ font-size:.938em !important}
.fs14{ font-size:.875em !important}
.fs13{ font-size:.813em !important}
.fs12{ font-size:.75em !important}

.sec2 > li{ width:50% !important}
.sec3 > li{ width:33.33% !important}
.sec4 > li{ width:25% !important}
.sec5 > li{ width:20% !important}
.sec8 > li{ width:16.66% !important}
.sec7 > li{ width:14.28% !important}
.sec6 > li{ width:12.5% !important}
.sec9 > li{ width:11.11% !important}
.sec10 > li{ width:10% !important}



#pageLoading{position:fixed; left:0; top:0; width:100%; height:100%; background:#fff; z-index:1001; transition:.1s}
.load #pageLoading{ visibility:hidden; opacity:0}




	
/*nav*/

html.l-nav-open .l-nav{width: 80%;}

html.l-nav-open .l-main {
  -webkit-transform: translate3d(-10%, 0, 0);
  -moz-transform: translate3d(-10%, 0, 0);
  -o-transform: translate3d(-10%, 0, 0);
  transform: translate3d(-10%, 0, 0);
}




.l-nav{ background:#fff; font-size:1.5em; box-shadow: 0 0 0.5625rem #666; }
.l-nav .nav_logo{ height:40px; padding:0.5em; position:relative; text-align: center; border-bottom:1px solid #ddd}
.l-nav .nav_logo img{ height:100%}
.l-nav .nav_close{ display:block; position:absolute; z-index:inherit; right:10px; top:15px; width:50px; height:50px; background: url(../images/inc/icon_gnb_close.png) no-repeat center center; background-size:15px auto; text-align: center; box-sizing: border-box; }
.l-nav .nav_close:before { content: "\e921"; font-family: xeicon; font-style: normal; font-size: 30px; }
.l-nav .nav_link{ background:#f24e4e; display:block; line-height:50px; color:#fff; padding:0 20px; text-align:center}

/*.l-nav .gnb{ padding-top:30px;}*/
.l-nav .di_wrap > li{ display:block;}
.l-nav .gnb .dp1{ line-height:40px; padding: 2px 20px; overflow:hidden; display:block; font-size: .925em; background: #fff; color: #333; border-top: 1px solid rgba(255,255,255,.1); border-bottom: 1px solid rgba(0,0,0,.2); text-align: left; text-indent: 5px; }
.l-nav .gnb .dp1:after{content:"\e942"; font-family : xeicon; float:right; font-size:1.5em; color:#bbb}
.l-nav .gnb .dp1.nolink:after{content:"\e93f"; font-family : xeicon; color:#bbb}
.l-nav .gnb .dp1.on{ background:#393a3e; color:#fff}
.l-nav .gnb .dp1.on:after{ color:#fff}
.l-nav .gnb > li.m_search{ display:none}

.l-nav .gnb .dp2{ display:none; background:#FFF; }
.l-nav .gnb .dp2 > li > a{ display:block; font-size:.813em; padding:0 20px; line-height:45px; border-top:1px solid #999; overflow:hidden; text-align: left; text-indent: 12px; background:#f5f5f5}
/*.l-nav .gnb .dp2 > li > a:before{ content:"-"; margin-right:5px}*/
.l-nav .gnb .dp2 > li:first-child > a{ border-top:none}

.l-nav .gnb .dp3{ background:#FFF; }
.l-nav .gnb .dp3 > li > a{ display:block; font-size:.750em; padding:0 20px; line-height:45px; border-top:1px dashed #ccc; overflow:hidden; text-align: left; text-indent: 20px; color: #999;}



.l-nav .tel{ margin:20px; border-radius:2px; line-height:40px; text-align:center; font-weight:bold; color:#fff; background:url(../images/inc/chart_st1_bg.gif) repeat-x left top; border:1px solid #d5251f; padding-top:5px}

.l-wrapper{ overflow:hidden}
.l-main {
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: inherit;
  overflow: hidden;
}

.l-nav {
  -webkit-transition: opacity 700ms ease;
  -moz-transition: opacity 700ms ease;
  -o-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index:1
}
.l-nav::-webkit-scrollbar {width: 0;}
	
	
.l-nav .menu_w{ background:#0059ad; border-bottom:1px solid rgba(256,256,256,0.4)}
.l-nav .menu_w li{ width:50%;}
.l-nav .menu_w > li > a .tt{ display:block; padding:1em 1em; font-size:0.7em; color:#fff; text-align:center; border-right:1px solid rgba(256,256,256,0.4)}

.l-nav .di_wrap > li.m_mypage{ display:none}
	
